{% extends 'base.html.twig' %}

{% block title %}Nouvelles paires de chaussures{% endblock %}

{% block body %}
    <h1>Ajouter une paires</h1>

    {{ include('shoes/_form.html.twig') }}

    <a href="{{ path('app_shoes_index') }}">Retour</a>
{% endblock %}
